.footer {
  background: #2c2b2b;

}

.footer-content {
  padding: 40px;
  text-align: center;
}

.socialmedia-list-icons{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

i {
  color: rgb(29,221,135,1);
  font-size: 40px;
  margin: 0px 20px;
}

i:hover {
  color: rgb(26,201,122,1);
}

.footer-content p {
  margin: 0;
  color: rgb(150,150,150);
}
